$temp-color: #8a8a8a;
$temp-backcolor: #8a8a8a;
$temp-border: 0.75px solid $temp-color;
$phone-width: 360px;
$image-heigt: 150px;
$globalNav-height: 30px;

// pages >>>

// GoodsView.tsx
.row {
  flex-direction: column;
  align-items: center;
}

.view {
  border: $temp-border;
  color: $temp-color;
  width: $phone-width;
  margin-top: $globalNav-height;
}

// GoodsList.tsx
.container {
  width: $phone-width;
  padding: 0px;
}

.goodsList {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: $globalNav-height;
}

// components >>>

// GlobalNav.tsx
.globalNav {
  border: $temp-border;
  color: white;
  background-color: $temp-backcolor;
  width: $phone-width;
  height: $globalNav-height;
  position: fixed;
  z-index: 1000;
  top: 0px;
}

// CardList.tsx
.card {
  width: $phone-width / 2;
}

.cardBody {
  width: $phone-width / 2;
}

.cardImage {
  width: 100%;
  height: $image-heigt;
  object-fit: cover;
}
