.globalNav {
  font: bold 16px Meiryo;
  color: white;
  background-color: black;
  .menu {
    text-align: left;
    cursor: pointer;
  }
  .title {
    text-align: center;
  }
  .add {
    text-align: right;
    cursor: pointer;
  }
}

.table {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;

  .bsTableCus {
    font: normal 16px Meiryo;
    max-width: 95%;
    margin: 10px 20px;
    td:nth-child(1) {
      text-align: left;
    }
    td:nth-child(n + 2) {
      text-align: center;
      width: 50px;
    }
    td:last-child {
      text-align: center;
      width: 120px;
    }
  }

  .pagination {
    --bs-pagination-color: black;
    --bs-pagination-active-bg: black;
    --bs-pagination-active-border-color: black;
    --bs-pagination-focus-color: black;
  }
}

.edit {
}
