.main {
  width: 100vw;
  min-height: 100vh;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.roleCheckBox {
  display: flex;
  gap: 20px;
}

.buttonContainer {
  width: 100%;
  margin-left: auto;
  display: flex;
  .buttonOk {
    flex: 1;
  }
  .buttonCancel {
    flex: 1;
    margin-right: 1rem;
  }
}
